.login-page {
    background-image: url('../gradient.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container {
    min-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.login-container h2 {
    color: #0a0808;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}


.login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}


.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: rgb(232, 232, 232);
    background-color: #006aff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a2ff;
}
